/*default fonts*/
/*google fonts*/
*{
    font-family: 'Noto Sans TC', sans-serif;
    -webkit-font-smoothing: antialiased!important;
}
.repo-title a{
    font-family: 'Oswald', sans-serif!important;
}