/*default fonts*/
/*google fonts*/

/*全局字体使用思源黑体*/
*{
    font-family: 'Noto Sans SC', sans-serif!important;
    -webkit-font-smoothing: antialiased!important;
}
.repo-title a{
    font-family: 'Oswald', sans-serif!important;
}