{{template "base/head" .}}
<div class="page-content home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" width="220" height="220" src="/logo.png"/>
			</div>
			<div class="hero" style="margin-top: 30px">
				<h2 class="ui icon header title" style="color: #505050">
					seed of one little dream
				</h2>
				<p style="font-size: 18px;color: #505050">🚚better storage 🚀git faster.</p>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}